.alphabet {
    display: inline-flex;
    vertical-align: top;
    align-items: flex-start;
    padding: 15px 30px;
}
    .alphabet__vowels {
        margin: 30px;
    }

    .alphabet__consonants-and-marks {
        margin: 30px;
    }
        .alphabet__consonants {

        }

        .alphabet__marks {
            margin-top: 64px;
        }

        .alphabet__settings {
            margin-top: 64px;
            width: 954px;
        }
