.alphabet {
    display: inline-flex;
    vertical-align: top;
    align-items: flex-start;
    padding: calc(2% + 20px) 4%;
}
    .alphabet__vowels {
        margin-right: 60px;
    }

    .alphabet__consonants-marks-and-settings {

    }
        .alphabet__consonants-and-marks {
            position: relative;
        }
            .alphabet__consonants {

            }

            .alphabet__marks {
                position: absolute;
                left: 1230px;
                top: 0
            }

        .alphabet__settings {
            margin-top: 64px;
            margin-left: 226px;
            width: 954px;
        }
