.bubble {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    display: inline-block;
    vertical-align: top;
    padding: 16px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0 2px 4px 1px #EAEAEA;
    border-radius: 4px;
    font-family: var(--font-default);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    text-transform: none;
    text-align: left;
    text-indent: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
}
    .bubble::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -8px;
        display: block;
        border-top: 8px solid #EAEAEA;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }

    .bubble-trigger:hover .bubble {
        opacity: 1;
        visibility: visible;
        margin-bottom: 9px;
        transition: opacity 0.3s ease 0.5s,
                    visibility 0.3s ease 0.5s,
                    margin-bottom 0.3s ease 0.5s;
    }


/*[title][data-size^="big"]::after {*/
/*    width: 350px;*/
/*}*/

/*[title][data-size^="small"]::after {*/
/*    width: 250px;*/
/*}*/

/*[title][data-size^="left-small"]::after {*/
/*    width: 250px;*/
/*    left: -232px;*/
/*}*/
