.checklist {
    list-style: none;
}
    .checklist__column {
        margin-left: 40px;
    }

    .checklist__column:first-child {
        margin-left: 0;
    }
        .checklist__head {
            font-weight: bold;
        }

        .checklist {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-top: 0;
            margin-bottom: 0;

        }
            .checklist__item {

            }
