.checklist {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
    .checklist__item {

    }


/* recursive checklists */
.checklist__item .checklist {

}
    /* recursive checklists items */
    .checklist__item .checklist__item {
        margin-left: 6px;
        border-left: 1px solid var(--color-separator);
        padding-left: 18px;
    }


.checklist--horizontal {

}
    .checklist--horizontal > .checklist__item {
        margin-top: 16px;
    }

    .checklist--horizontal > .checklist__item:first-child {
        margin-top: 0;
    }

@media (min-width: 600px) {

    .checklist--horizontal {
        display: flex;
        align-items: flex-start;
    }
        .checklist--horizontal > .checklist__item .choice__label {
            padding-right: 30px;
        }
}


.checklist--headings {

}
    .checklist--headings > .checklist__item > .choice {
        font-weight: bold;
    }


