/* идентично .marks (править параллельное) */

.consonants {

}
    .consonants__heading {

    }

    .consonants__body {

    }
        .consonants__section {
            margin-bottom: var(--section-margin);
        }

        .consonants__section:last-child {
            margin-bottom: 0;
        }

        html:not(.display-consonants-high)   .consonants__section--high   { display: none }
        html:not(.display-consonants-middle) .consonants__section--middle { display: none }
        html:not(.display-consonants-low)    .consonants__section--low    { display: none }

            .consonants__sub-heading {
                margin-top: 0;
                margin-bottom: var(--heading-margin);
            }

            html:not(.display-captions-headings) .consonants__sub-heading {
                display: none;
            }

            .consonants__list {

            }
                .consonants__sub-class {
                    margin-bottom: 30px;
                }

                .consonants__sub-class:last-child {
                    margin-bottom: 0;
                }

                html:not(.display-consonants-low-sonorant) .consonants__sub-class--sonorant { display: none; }
                html:not(.display-consonants-low-dead) .consonants__sub-class--dead     { display: none; }

                    .consonants__sub-head {
                        display: flex;
                        align-items: flex-start;
                    }

                    html:not(.display-captions-subheadings) .consonants__sub-head {
                        display: none;
                    }
                        .consonants__alt-heading {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-bottom: 12px;
                        }

                        .consonants__heading-hint {
                            margin: -5px -6px -7px -8px;
                        }

                    .consonants__alt-list {

                    }
