/* идентично .marks (править параллельное) */

.consonants {

}
    .consonants__heading {

    }

    .consonants__columns {
        display: none;
    }

    .consonants__body {

    }
        .consonants__section {
            margin-bottom: var(--section-margin);
        }

        .consonants__section:last-child {
            margin-bottom: 0;
        }

        html:not(.display-consonants-high)   .consonants__section--high   { display: none }
        html:not(.display-consonants-middle) .consonants__section--middle { display: none }
        html:not(.display-consonants-low)    .consonants__section--low    { display: none }

            .consonants__sub-heading {
                margin-top: 0;
                margin-bottom: var(--heading-margin);
            }

            html:not(.display-captions-headings) .consonants__sub-heading {
                display: none;
            }

            .consonants__list {

            }
                .consonants__sub-class {
                    margin-bottom: 30px;
                }

                .consonants__sub-class:last-child {
                    margin-bottom: 0;
                }

                html:not(.display-consonants-low-sonorant) .consonants__sub-class--sonorant { display: none; }
                html:not(.display-consonants-low-dead) .consonants__sub-class--dead         { display: none; }

                    .consonants__sub-head {
                        display: flex;
                        align-items: flex-start;
                    }

                    html:not(.display-captions-subheadings) .consonants__sub-head {
                        display: none;
                    }
                        .consonants__alt-heading {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-bottom: 12px;
                        }

                        .consonants__heading-hint {
                            margin: -5px -6px -7px -8px;
                        }

                    .consonants__alt-list {

                    }



.display-by-sound .consonants {

}
    .display-by-sound .consonants__heading {

    }

    .display-by-sound .consonants__columns {
        position: relative;
        display: grid;
        grid-gap: 40px 60px;
        grid-template-columns: repeat(3, 1170px);
        grid-auto-flow: column;
        margin-bottom: 40px;
    }
        .display-by-sound .consonants__group {
            display: grid;
            grid-auto-flow: column;
        }
            .display-by-sound .consonants__sound {
                position: relative;
                padding-top: 10px;
                padding-bottom: 14px;
                width: 150px;
                margin-left: 20px;
                text-align: center;
                background-color: #F3F3F3;
                border-radius: 12px 12px 0 0;
            }

            .display-by-sound .consonants__sound:first-child {
                margin-left: 0;
            }


    .display-by-sound .consonants__body {
        width: 3550px;
        display: grid;
        grid-gap: 40px 60px;
        grid-template-columns: repeat(3, 1170px);
    }
        .display-by-sound .consonants__section {
            margin-bottom: 0;
        }

        .display-by-sound .consonants__section--high {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .display-by-sound .consonants__section--middle {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .display-by-sound .consonants__section--low {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
            .display-by-sound .consonants__sub-class--sonorant {
                /*position: absolute;*/
                /*left: 0;*/
                /*top: 200px;*/
            }

            .display-by-sound .consonants__sub-class--dead {
                /*position: absolute;*/
                /*left: 1190px;*/
                /*top: 200px;*/
            }

            .display-by-sound .consonants__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: var(--heading-margin);*/
            }

            .display-by-sound .consonants__list {

            }

            .display-by-sound .consonants__section--low .consonants__list {
                display: flex;
                align-items: flex-start;
            }
                .display-by-sound .consonants__sub-class {
                    margin-bottom: 0;
                    margin-right: 60px;
                }

                .display-by-sound .consonants__sub-class:last-child {
                    margin-right: 0;
                }
                    .display-by-sound .consonants__sub-head {
                        /*display: flex;*/
                        /*align-items: flex-start;*/
                    }
                        .display-by-sound .consonants__alt-heading {
                            /*margin-top: 0;*/
                            /*margin-bottom: 0;*/
                            /*padding-bottom: 12px;*/
                        }

                        .display-by-sound .consonants__heading-hint {
                            /*margin: -5px -6px -7px -8px;*/
                        }

                    .display-by-sound .consonants__alt-list {

                    }

    /* фоновые полоски */
    .display-by-sound .vlisting__item::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        margin-left: -2px;
        width: 4px;
        background-color: #F8F8F8;
        bottom: 0;
        height: 3000px;
    }

    .display-by-sound .consonants__columns::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        bottom: 100%;
        height: 100px;
    }
