/* идентично .marks (править параллельное) */

.consonants {

}
    .consonants__heading {

    }

    .consonants__body {

    }
        .consonants__section {
            margin-top: var(--section-margin);
        }

        .consonants__section:first-child {
            margin-top: 0;
        }
            .consonants__sub-heading {
                margin-top: 0;
                margin-bottom: var(--heading-margin);
            }

            html:not(.headings-shown) .consonants__sub-heading {
                display: none;
            }

            .consonants__list {

            }
                .consonants__sub-class {
                    margin-top: 30px;
                }

                .consonants__sub-class:first-child {
                    margin-top: 0;
                }
                    .consonants__sub-head {
                        display: flex;
                        align-items: flex-start;
                    }

                    html:not(.subheadings-shown) .consonants__sub-head {
                        display: none;
                    }
                        .consonants__alt-heading {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-bottom: 12px;
                        }

                        .consonants__heading-hint {
                            margin: -6px;
                        }

                    .consonants__alt-list {

                    }
