.highlight-wrap2 {
    margin-top: 20px;
    display: inline-flex;
    vertical-align: top;
    background-color: #FEFFDA;
    border-radius: 10px;
    padding: 10px 10px 10px 16px;
    margin-left: -16px;
    margin-right: -200px;
}
    .highlight-wrap2__list {

    }
        .highlight-wrap2__list .vowels__list {
            margin-top: 0;
        }

    .highlight-wrap2__content {
        margin-left: 16px;
        width: 200px;
        padding-top: 6px;
    }
