.highlight-wrap {
    display: inline-block;
    vertical-align: top;
    background-color: #FEFFDA;
    border-radius: 50px;
    padding: 40px 10px;
    margin-left: -10px;
    margin-right: -10px;
}
