.highlight-wrap {
    display: inline-block;
    vertical-align: top;
    background-color: #FEFFDA;
    border-radius: 10px;
    padding: 20px 10px 16px 16px;
    margin-left: -16px;
    margin-right: -10px;
}
    .highlight-wrap__comment {

    }

    .highlight-wrap__data {
        margin-top: 16px;
    }
