.letter {
    position: relative;
    display: block;
    width: 150px;
    height: 136px;
    border: 2px solid #EAEAEA;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding-top: 13px;
    text-decoration: none;
    color: inherit;
}

.letter--not-available {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;
    background-color: #EAEAEA;
    color: #999999;
}

    .letter__title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-family: var(--font-thai);
        font-weight: normal;
        font-size: 42px;
        line-height: 42px;
        text-align: center;
    }

    .letter__sound {
        margin-top: 7px;
        display: block;
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
        color: var(--font-faded);
        text-align: center;
    }

    .letter__name {
        position: absolute;
        left: 8px;
        bottom: 18px;
        display: block;
        font-family: var(--font-thai);
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
    }

    .letter__script {
        position: absolute;
        left: 8px;
        bottom: 7px;
        display: block;
        font-style: normal;
        font-size: 11px;
        line-height: 11px;
        color: var(--font-faded);
    }

    .letter__translation {
        position: absolute;
        right: 8px;
        bottom: 7px;
        min-height: 33px;
        display: flex;
        align-items: center;
        font-size: 11px;
        line-height: 11px;
    }

    .letter__key {
        position: absolute;
        right: 7px;
        top: 6px;
        display: block;
        min-width: 16px;
        padding: 0 4px 2px;
        background-color: #F5F5F5;
        border: 1px solid #EDEDED;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        font-size: 10px;
        line-height: 12px;
        color: #BBBBBB;
        text-align: center;
    }


    .letter__note {
        position: absolute;
        left: 8px;
        right: 8px;
        bottom: 7px;
        min-height: 33px;
        font-size: 11px;
        line-height: 11px;
    }
