.listing {
    display: inline-flex;
    align-items: stretch;
}
    .listing__column {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .listing__column:first-child {
        margin-left: 0;
    }
        .listing__item {
            margin-top: 20px;
        }

        .listing__item:first-child {
            margin-top: 0;
        }
