.low-class {

}

    .low-class__sonorants-with-comment {

    }
        .low-class__highlighted-panel {
            display: inline-block;
            visibility: top;
            padding: 20px;
            margin: -20px;
        }
            .low-class__comment {
                margin-bottom: 20px;
                display: none;
            }

            .low-class__sonorants {
                /*margin-top: 13px;*/
            }

    .low-class__dead {
        margin-top: 64px;
        /*margin-left: 20px;*/
        /*margin-top: -136px;*/
        /*margin-bottom: -136px;*/
    }




.highlights-shown .low-class {

}
    .highlights-shown .low-class__sonorants-with-comment {

    }
        .highlights-shown .low-class__highlighted-panel {

        }
            .highlights-shown .low-class__comment {
                display: block;
            }

            .highlights-shown .low-class__sonorants {

            }

    .highlights-shown .low-class__dead {
        /*margin-top: -5px;*/
    }

