.low-class {
    display: flex;
    align-items: flex-end;
    padding-bottom: 116px;
}
    .low-class__sonorant {

    }

    .low-class__dead {
        margin-left: 20px;
        margin-bottom: -116px;
    }
