.marks {

}
    .marks__section {
        margin-top: 64px;
    }

    .marks__section:first-child {
        margin-top: 0;
    }
        .marks__sub-heading {
            margin-top: 0;
            margin-bottom: 30px;
        }

        .marks__list {
            width: 850px;
        }

