.marks {

}
    .marks__section {
        margin-top: 64px;
        transition: margin-top var(--transition-show);
    }

    /* Когда раскрыты подсказки .highlights у согласных низкого класса
       высвобождается больше места. Это даёт больше своды блоку .marks,
       можно его немнго разрядлить увеличив маргин:
    */
    .highlights-shown .marks__section {
        margin-top: 85px;
    }

    .marks__section:first-child {
        margin-top: 0;
    }
        .marks__sub-heading {
            margin-top: 0;
            margin-bottom: 30px;
        }

        .marks__list {
            width: 850px;
        }

