.marks {

}
    .marks__section {
        margin-top: 85px;
    }

    .marks__section:first-child {
        margin-top: 0;
    }
        .marks__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .marks__list {
            margin: 20px -10px -10px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 850px;
        }
            .marks__item {
                margin: 10px;
            }

