/* stylelint-disable declaration-colon-space-after */
:root {
    --font-default: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-color: #333333;
    --font-faded: #666666;
}
/* stylelint-enable declaration-colon-space-after */
