.settings {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px 4px #eaeaea;
    border-radius: 10px;
    padding: 30px;
}
    .settings__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .settings__list {
        margin-top: 30px;
    }
        .settings__section {
            margin-top: 20px;
            border-top: 1px solid var(--color-separator);
            padding-top: 20px;
        }

        .settings__section:first-child {
            margin-top: 0;
            border-top: none;
            padding-top: 0;
        }
            .settings__item {

            }
