.settings {

}
    .settings__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .settings__list {
        margin-top: 30px;
    }
        .settings__item {
            margin-top: 20px;
            border-top: 1px solid var(--color-separator);
            padding-top: 20px;
        }

        .settings__item:first-child {
            margin-top: 0;
            border-top: none;
            padding-top: 0;
        }
