.vowels {
    position: relative;
    width: 320px;
}
    .vowels__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .vowels__table-head {
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
        margin-left: -10px;
        margin-right: -10px;
    }
        .vowels__hgroup {
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }
            .vowels__sub-heading {
                text-align: center;
            }

            .vowels__sub-note {
                margin-top: 8px;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
            }

    .vowels__content {

    }
        .vowels__list {
            margin: 0 -10px -10px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 340px;
        }
            .vowels__item {
                margin: 10px;
            }

